<!-- <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="employeeForm.controls['identity']">
      <ng-template matStepLabel>Identity Number</ng-template>
      <form [formGroup]="employeeForm">
        <mat-form-field>
          <mat-label>Identity Number</mat-label>
          <input matInput formControlName="identity" placeholder="Enter your identity number" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="employeeForm.controls['firstName']">
      <ng-template matStepLabel>First Name</ng-template>
      <form [formGroup]="employeeForm">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter your first name" formControlName="firstName" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="employeeForm.controls['lastName']">
      <ng-template matStepLabel>Last Name</ng-template>
      <form [formGroup]="employeeForm">
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" placeholder="Enter your last name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="employeeForm.controls['gender']">
      <ng-template matStepLabel>Gender</ng-template>
      <form [formGroup]="employeeForm">
        <div>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="MALE">Male</mat-radio-button>
            <mat-radio-button value="FEMALE">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSubmit()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
   -->
   <mat-stepper orientation="vertical" [linear]="isLeanar" #stepper>

    <!-- Step 1: Identity Number -->
    <mat-step [stepControl]="employeeForm.controls['identity']">
        <ng-template matStepLabel>Fill out your identity number</ng-template>
        <form [formGroup]="employeeForm">
            <mat-form-field>
                <mat-label>Identity Number</mat-label>
                <input matInput formControlName="identity" placeholder="Enter your identity number" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 2: First Name -->
    <mat-step [stepControl]="employeeForm.controls['firstName']">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <form [formGroup]="employeeForm">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter your first name" formControlName="firstName" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 3: Last Name -->
    <mat-step [stepControl]="employeeForm.controls['lastName']">
        <ng-template matStepLabel>Last name</ng-template>
        <form [formGroup]="employeeForm">
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Enter your last name" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 4: Gender -->
    <mat-step [stepControl]="employeeForm.controls['gender']">
        <ng-template matStepLabel>Gender</ng-template>
        <form [formGroup]="employeeForm">
            <div>
                <mat-radio-group formControlName="gender">
                    <mat-radio-button value="MALE">Male</mat-radio-button>
                    <mat-radio-button value="FEMALE">Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <!-- Step 5: Date of Birth -->
    <!-- <mat-step [stepControl]="employeeForm.controls['birthdate']">
        <ng-template matStepLabel>Birthdate</ng-template>
        <form [formGroup]="employeeForm">
            <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Enter your date of birth" formControlName="birthdate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step> -->

<!-- Step 6: Edit -->
<mat-step>
  <ng-template matStepLabel>Position Employee</ng-template>
<positions-employee-table></positions-employee-table>
</mat-step>
    <!-- Step 6: Positions -->
    <!-- <mat-step>
        <ng-template matStepLabel>Select Positions</ng-template>
        <form [formGroup]="employeeForm">
            <mat-form-field>
                <mat-label>Select Positions</mat-label>
                <mat-select placeholder="Select positions" formControlName="positions" multiple required>
                    <mat-option *ngFor="let position of employee.positions" [value]="position">{{ position.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
                <button mat-button (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </mat-step> -->

    <!-- Additional Steps for Entry Date and Managerial Status -->
    <!-- <mat-horizontal-stepper>
        <mat-step *ngFor="let position of employee.value.positions; let i = index">
            <form [formGroup]="positionEmployeeForms.controls[i]">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose entry date"
                        (dateChange)="updateEntryDateIntoOffice(i, $event.value)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-checkbox [formControl]="positionEmployeeForms.controls[i].get('isManagerial')"
                    (change)="updateIsManagerialState(i, $event.checked)">
                    Is Administrative
                </mat-checkbox>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</mat-stepper> -->
