<p>edit-employee-position works!</p>
<h2 mat-dialog-title>Edit Position</h2>
<mat-dialog-content>     {{data.positionName}}

  <form [formGroup]="positionForm">

    <mat-form-field>
      <input matInput formControlName="entryDateIntoOffice" placeholder="Entry date into the position" [matDatepicker]="picker" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>   
        <mat-error *ngIf="positionForm.get('entryDateIntoOffice')?.hasError('invalidEntryDate')">Entry date must be after start of work date</mat-error>
      <mat-error *ngIf="positionForm.get('entryDateIntoOffice')?.hasError('required')">Entry date is required</mat-error>
 
    </mat-form-field>
     <mat-checkbox formControlName="ismanagerial">Is Managerial</mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSaveClick()">Save</button>
</mat-dialog-actions>
