<div class="container">
  <button mat-raised-button color="primary" (click)="openAddPositionDialog()">הוספת תפקיד לעובד</button>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="positionId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  position name</th>
      <td mat-cell *matCellDef="let element"> {{positions[element.positionId].name}} </td>
    </ng-container>
    <ng-container matColumnDef="entryDateIntoOffice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> תאריך כניסה לתפקיד </th>
      <td mat-cell *matCellDef="let element"> {{element.entryDateIntoOffice | date}} </td>
    </ng-container>
    <ng-container matColumnDef="ismanagerial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> האם מנהלי </th>
      <td mat-cell *matCellDef="let element"> {{element.ismanagerial ? 'mangererial' : 'not managerial'}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="editPosition(element, positions[element.positionId]?.name)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePosition(element)">
          <mat-icon>delete</mat-icon>
        </button>  
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
