
   <mat-dialog-content class="dialog-content">
    <h2 mat-dialog-title class="dialog-title">Confirm Employee Deletion</h2>
    <p class="dialog-message">Are you sure you want to delete <b>{{ data.employeeName }}</b>?</p>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-button class="confirm-button" (click)="dialogRef.close(true)">Confirm</button>
    <button mat-button class="cancel-button" (click)="dialogRef.close(false)">Cancel</button>
  </mat-dialog-actions>
  