// // סגנון עבור קומפוננטה הראשונה
// .container {
//     margin-bottom: 20px; // מרווח תחתון של 20 פיקסלים בין הקומפוננטות
  
//     // סגנון עבור כפתור ההוספה בקומפוננטה הראשונה
//     button {
//       margin-bottom: 10px; // מרווח תחתון של 10 פיקסלים בין הכפתור והטבלה
//     }
  
//     // סגנון עבור טבלת הנתונים בקומפוננטה הראשונה
//     table {
//       width: 100%; // הגדרת הרוחב של הטבלה ל-100%
//       // ניתן להוסיף סגנונות נוספים כמו צבע רקע, גבולות ועוד
//     }
//   }
  
//   // סגנון עבור קומפוננטה השנייה
//   .stepper {
//     // ניתן להוסיף סגנונות נוספים כגון מרווחים, גבולות ועוד
//   }

.container {
    display: flex;
    align-items: center; /* אמצע האנכי */
    width: 50%; /* רוחב מלא של העמוד */
    box-sizing: border-box; 
    position: absolute;
    top: 50%; /* מיקום אנכי באמצע */
    transform: translateY(-50%); /* הצפנה לאמצע */
}

.container-right {
    justify-content: flex-end; /* תיקון לצד ימין */
    right: 0; /* הצגת הקומפוננטה בצד הימני של העמוד */
}

.container-left {
    justify-content: flex-start; /* תיקון לצד שמאל */
    left: 0; /* הצגת הקומפוננטה בצד השמאלי של העמוד */
}
