<!-- <img src="/assets/home3.png" alt="opening image" />

<mat-button [routerLink]="['/register']" class="modern-button">Display employees </mat-button>
<mat-button [routerLink]="['/login']" class="modern-button modern-button-raised">Login as admin</mat-button> -->
<img src="/assets/home3.png" alt="opening image" class="responsive-image" />

<button mat-raised-button color="primary" routerLink="/register" class="modern-button">
  Display Employees
</button>
<button mat-raised-button color="accent" routerLink="/login" class="modern-button modern-button-raised">
  Login as Admin
</button>
