<div class="container">
  <mat-stepper orientation="vertical" [linear]="isLeanar" #stepper class="stepper">
      <!-- Step 1: Identity Number -->
      <mat-step *ngIf="employeeForm" [stepControl]="employeeForm.controls['identity']">
          <ng-template matStepLabel>Fill out your identity number</ng-template>
          <form *ngIf="employeeForm" [formGroup]="employeeForm">
              <mat-form-field>
                  <mat-label>Identity Number</mat-label>
                  <input matInput formControlName="identity" placeholder="Enter your identity number" required>
                  <mat-error *ngIf="employeeForm.get('identity')?.hasError('required')">Identity number is required</mat-error>
                  <mat-error *ngIf="employeeForm.get('identity')?.hasError('invalidIdentity')">Invalid identity number</mat-error>
                  <mat-error *ngIf="employeeForm.get('identity')?.hasError('invalidchars')">Identity can only contain digits</mat-error>
                  <mat-error *ngIf="employeeForm.get('identity')?.hasError('invalidextradigits')">Identity can only contain 9 digits</mat-error>
              </mat-form-field>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
              </div>
          </form>
      </mat-step>

      <!-- Step 2: First Name -->
      <mat-step *ngIf="employeeForm" [stepControl]="employeeForm.controls['firstName']">
          <ng-template matStepLabel>Fill out employee name</ng-template>
          <form *ngIf="employeeForm" [formGroup]="employeeForm">
              <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="Enter your first name" formControlName="firstName" required>
                  <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')">First name is required</mat-error>
                  <mat-error *ngIf="employeeForm.get('firstName')?.hasError('invalidName')">Can only contain letters</mat-error>
                  <mat-error *ngIf="employeeForm.get('firstName')?.hasError('invalidLettersAmount')">Invalid minimal letters amount</mat-error>

              </mat-form-field>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
              </div>
          </form>
      </mat-step>

      <!-- Step 3: Last Name -->
      <mat-step *ngIf="employeeForm" [stepControl]="employeeForm.controls['lastName']">
          <ng-template matStepLabel>Last name</ng-template>
          <form  *ngIf="employeeForm" [formGroup]="employeeForm">
              <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastName" placeholder="Enter your last name" required>
                  <mat-error *ngIf="employeeForm.get('lastName')?.hasError('required')">Last name is required</mat-error>
                  <mat-error *ngIf="employeeForm.get('lastName')?.hasError('invalidName')">Can only contain letters</mat-error>
                  <mat-error *ngIf="employeeForm.get('lastName')?.hasError('invalidLettersAmount')">Invalid minimal letters amount</mat-error>

              </mat-form-field>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
              </div>
          </form>
      </mat-step>

      <!-- Step 4: Gender -->
      <mat-step *ngIf="employeeForm" [stepControl]="employeeForm.controls['gender']">
          <ng-template matStepLabel>Gender</ng-template>
          <form *ngIf="employeeForm" [formGroup]="employeeForm">
              <mat-form-field appearance="fill" class="form-group">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender" placeholder="Select gender" class="custom-input">
                      <mat-option [value]="0">Male</mat-option>
                      <mat-option [value]="1">Female</mat-option>
                  </mat-select>
                  <mat-error *ngIf="employeeForm.get('gender')?.hasError('required')">Gender is required</mat-error>
              </mat-form-field>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
              </div>
          </form>
      </mat-step>

      <!-- Step 5: Birthdate -->
      <mat-step *ngIf="employeeForm"  [stepControl]="employeeForm.controls['birthDate']">
          <ng-template matStepLabel>Birthdate</ng-template>
          <form [formGroup]="employeeForm">
              <mat-form-field>
                  <mat-label>Date of Birth</mat-label>
                  <input matInput [matDatepicker]="picker" placeholder="Enter your date of birth" formControlName="birthDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="employeeForm.get('birthDate')?.hasError('required')">Birthdate is required</mat-error>
                  <mat-error *ngIf="employeeForm.get('birthDate')?.hasError('ageUnder18')">Employee must be at least 18 years old</mat-error>
                  <mat-error *ngIf="employeeForm.get('birthDate')?.hasError('invalidDate')">invalid birthDate</mat-error>
              </mat-form-field>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
              </div>
          </form>
      </mat-step>

      <!-- Step 6: Begining of Work Date -->
      <mat-step *ngIf="employeeForm" [stepControl]="employeeForm.controls['startOfWorkDate']">
          <ng-template matStepLabel>Begining of work date</ng-template>
          <form [formGroup]="employeeForm">
              <mat-form-field>
                  <mat-label>Begining of work date</mat-label>
                  <input matInput [matDatepicker]="picker1" placeholder="Enter begining of work date" formControlName="startOfWorkDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <!-- <mat-error *ngIf="employeeForm.get('startOfWorkDate')?.hasError('required')">begining date is required</mat-error> -->
              </mat-form-field>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
              </div>
          </form>
      </mat-step>

 

      <!-- Step 8: Submit -->
      <mat-step>
          <ng-template matStepLabel>Save employee details</ng-template>
          <button mat-button (click)="openConfirmationDialog()">Save</button>
          <button mat-button (click)="cancelStepper()">Cancel</button>
      </mat-step>         
  </mat-stepper>
</div>
